run = "npm run dev"
entrypoint = "app/page.tsx"
modules = ["nodejs-20"]
hidden = [".next", "node_modules"]

[env]
NEXT_TELEMETRY_DISABLED = "1"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 3000
